# Symfony
/backend/vendor/
/backend/var/cache/
/backend/var/log/
/backend/.env.local
/backend/.env.local.php
/backend/.env.*.local

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env.*.local