.git
.gitignore
.env
.env.*
!.env.docker

var/cache/*
var/log/*
var/sessions/*
!var/.gitkeep

vendor/
!vendor/.gitkeep

tests/
phpunit.xml.dist

node_modules/

*.md
docker-compose*.yml
Dockerfile

.phpunit.result.cache
.phpstan-cache
