# Configuration de test par défaut
KERNEL_CLASS='App\Kernel'
APP_SECRET='$ecretf0rt3st'
APP_ENV=test
APP_DEBUG=false

# Database test (sera surchargé par la CI)
DATABASE_URL="mysql://root:root@127.0.0.1:3306/onlyroll_test?serverVersion=9.0"

# Redis test
REDIS_URL="redis://127.0.0.1:6379"

# JWT (utilisez des clés de test)
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE="onlyroll123!"

# CORS
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'